.border-black{
    border: 2px solid black;
}
.width-50{
    width: 50%;
}

#id{
    border:2px dotted blue;
}

div p{
    color:hsl(0, 100%, 50%);
    padding: 1rem;
    margin: 1rem;
}

img{
    margin: 0 auto;
}